.carousel {
  overflow: scroll;
  padding-left: 30px;
  overflow-y: hidden;
  position: relative;
}
.carousel__container {
  white-space: nowrap;
  margin: 60px 0px;
  padding-bottom: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(27, 8, 97);
  border-radius: 4px;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background:rgba(73, 4, 87, 0.4);
  border-radius: 4px;
}
::-webkit-scrollbar:hover {
  background: #4a147c;
  box-shadow: 002px1pxrgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar:hover:active {
  background: rgb(116, 19, 103);
}