.footer {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #000000;
  position:fixed;
  left:0px;
  bottom:0px;
  height:60px;
  width:100%;

}
.footer a {
  color:white ;
  font-size: 16px;
  cursor: pointer;
  padding-left: 20px;
  text-decoration: none;
  font-weight: bold;
}
.footer a:hover {
  text-decoration: underline ;
}